*
{
	box-sizing: border-box;
}

#idddd
{
	padding-left: 30px;
	float:left;
}
#container
{
	width: 1320px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F6F3F3;
	min-height: 700px;
}

#title
{
	margin-top: 20px;
	color: blue;
	font-size: 40px;
	border-bottom: 5px solid blue;
}

#sortowanie
{
	width: 20%;
	float:left;
}


#login
{
	margin-top: 100px;
	text-align: center;
}

#meni
{
	text-align: center;
    margin-top: 20px;
	height: 80px;
    color: white;
}

#dashboard
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	min-height:400px;
}

.kafel
{
	width: 330px;
	display: inline-block;
	border-left: 10px solid #F6F3F3;
	border-right: 10px solid #F6F3F3;
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
	float:left;
	height: 100px;
	text-align: center;
}

.kafel_duzy
{
	background-color: white;
	width:220px;
	height: 300px;
	border-left: 10px solid #F6F3F3;
	border-right: 10px solid #F6F3F3;
	text-align: center;
	float:left;
}

.wykres
{
	background-color: white;
	width:220px;
	height: 190px;
	border-left: 10px solid #F6F3F3;
	border-right: 10px solid #F6F3F3;
	text-align: center;
	float:left;	
	margin-bottom: 10px;
}

#wplywyiwyplywy
{
	float:left;
	width:440px;
	height: 300px;
}

.wplywyywyplywy
{
	background-color: white;
	float:left;
	width:220px;
	height: 90px;
	border-left: 10px solid #F6F3F3;
	border-right: 10px solid #F6F3F3;
	margin-top: 10px;
}


.option
{
	float:left;
	height: 25px;
    font-size: 18px;
    padding: 15px;
}

#footer
{
	text-align:center;
	padding:20px;
}

#formularz
{
	text-align: center;
}

#historia
{
	width:80%;
	float:left;
	text-align: center;
	min-height:400px;
}

#kategorie_wydatkow
{
	text-align: center;
	min-height: 400px;
}

#pole
{
	text-align: center;
}

ol
{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;

}

ol > li
{
	float: left;
	width: 200px;
	height: 80px;
	text-align: center;
}

ol>li>ul
{
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: 40px;
		display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol>li>ul>li
{
		position: relative;
		z-index: 100;
}