
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-plus-circled:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e804'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
